
.formtitle{
    text-align: center;
    color: rgb(75, 98, 228);
}

.inputFieldName{
    font-size: 18px;
    font-weight: 600;
}

.wrapper{
  margin: 10px 0;
}

.wrapper > input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin: 3px auto 5px;
    outline: 0;
    border: 1px solid grey;
    border-radius: 2px;
}

.notice{
    color:rgb(65, 93, 249);
    font-size: 12px;
    text-align: right;
    font-weight: 500;
    margin: 0;
}

.submit{
    
    display: flex;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 20px ;
    background-color:rgb(75, 98, 228);
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 80px;
}
